name: Docker

on:
  workflow_call:
    inputs:
      prefix:
        type: string
        required: false
        description: >
          The prefix to use for the image tag
      context:
        type: string
        required: false
        description: >
          The path to the directory to use as context
      dockerfile:
        type: string
        required: true
        description: >
          The path to the Dockerfile to use for building the image
      paths:
        type: string
        required: false
        description: >
          The list of paths to use for calculating 
          the hash and building the image
    outputs:
      tag:
        description: The tag of the image
        value: ${{ jobs.check-image.outputs.tag }}

jobs:
  # calculate a hash for the dockerfile and lock files and checks
  # if the image already exists in the registry, creates output
  # variables with whether the image exists and the hash
  check-image:
    name: Check if image exists
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read

    outputs:
      exists: ${{ steps.check.outputs.exists }}
      tag: ${{ steps.hash.outputs.tag }}

    steps:
      - uses: actions/checkout@v6

      - name: Calculate hash
        id: hash
        run: |
          FILES="${{ inputs.dockerfile }} $(echo "${{ inputs.paths }}" | xargs)"
          echo "files=$FILES"
          
          TAG=$(cat $FILES | sha256sum | cut -c 1-16)
          if [ -n "${{ inputs.prefix }}" ]; then
            echo "tag=${{ inputs.prefix }}-$TAG" >> $GITHUB_OUTPUT
          else
            echo "tag=$TAG" >> $GITHUB_OUTPUT
          fi

      - name: Check if image exists
        id: check
        run: |
          GHCR_TOKEN=$(echo -n "${{ secrets.GITHUB_TOKEN }}" | base64)
          TAGS=$(curl -s -H "Authorization: Bearer $GHCR_TOKEN" https://ghcr.io/v2/${{ github.repository }}/tags/list)

          if echo "$TAGS" | grep -q "\"${{ steps.hash.outputs.tag }}\""; then
            echo "exists=true" >> $GITHUB_OUTPUT
          else
            echo "exists=false" >> $GITHUB_OUTPUT
          fi

  build-image:
    name: Build docker image
    needs: check-image
    if: needs.check-image.outputs.exists == 'false'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ${{ inputs.context || '.' }}
          file: ${{ inputs.dockerfile }}
          push: true
          sbom: true
          tags: ghcr.io/${{ github.repository }}:${{ needs.check-image.outputs.tag }}
          provenance: mode=max
          cache-from: type=gha
          cache-to: type=gha,mode=max
          secrets: |
            "GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}"
